body,
html {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  background: #e9ecef;
}

.jumbotron {
  margin-bottom: 0;
}

footer {
  padding: 0.5rem;
}

#chat {
  flex: 1 0 auto;
  height: 0;
  overflow-y: auto;
  padding: 1rem;
}

.sender-info {
  font-size: 10px;
  margin-top: -5px;
  color: grey;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}

.yours .message:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .message:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}

.dark-mode header,
.dark-mode footer {
  background: #333;
}

.dark-mode .jumbotron {
  background: #222;
  color: #fff;
}

.dark-mode #chat {
  background-color: #333;
}

.dark-mode .message {
  color: #fff;
}

.dark-mode .yours .message {
  background-color: #555;
}

.dark-mode .yours .message:before {
  background-color: #555;
}

.dark-mode .mine .message {
  background: linear-gradient(to bottom, #0098c1 0%, #00689e 100%);
}

.dark-mode .mine .message:before {
  background: linear-gradient(to bottom, #0098c1 0%, #00689e 100%);
}
